<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.programing.dao.ApplicationItemMapper" >
  <resultMap id="BaseResultMap" type="com.programing.pojo.ApplicationItem" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="application_no" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="competition_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="competition_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="competition_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="current_unit_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sponsor_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, application_no, competition_id, competition_name, competition_image, current_unit_price, quantity,
    total_price, create_time, update_time, user_id, sponsor_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from programing_application_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from programing_application_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.programing.pojo.ApplicationItem" >
    insert into programing_application_item (id, application_no, competition_id,
    competition_name, competition_image, current_unit_price,
    quantity, total_price, create_time,
    update_time, user_id, sponsor_id)
    values (#{id,jdbcType=INTEGER}, #{applicationNo,jdbcType=BIGINT}, #{competitionId,jdbcType=INTEGER},
    #{competitionName,jdbcType=VARCHAR}, #{competitionImage,jdbcType=VARCHAR}, #{currentUnitPrice,jdbcType=DECIMAL},
    #{quantity,jdbcType=INTEGER}, #{totalPrice,jdbcType=DECIMAL}, now(),
    now(), #{userId,jdbcType=INTEGER}, #{sponsorId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.programing.pojo.ApplicationItem" >
    insert into programing_application_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applicationNo != null" >
        application_no,
      </if>
      <if test="competitionId != null" >
        competition_id,
      </if>
      <if test="competitionName != null" >
        competition_name,
      </if>
      <if test="competitionImage != null" >
        competition_image,
      </if>
      <if test="currentUnitPrice != null" >
        current_unit_price,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sponsorId != null" >
        sponsor_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applicationNo != null" >
        #{applicationNo,jdbcType=BIGINT},
      </if>
      <if test="competitionId != null" >
        #{competitionId,jdbcType=INTEGER},
      </if>
      <if test="competitionName != null" >
        #{competitionName,jdbcType=VARCHAR},
      </if>
      <if test="competitionImage != null" >
        #{competitionImage,jdbcType=VARCHAR},
      </if>
      <if test="currentUnitPrice != null" >
        #{currentUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="sponsorId != null" >
        sponsor_id,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.programing.pojo.ApplicationItem" >
    update programing_application_item
    <set >
      <if test="applicationNo != null" >
        application_no = #{applicationNo,jdbcType=BIGINT},
      </if>
      <if test="competitionId != null" >
        competition_id = #{competitionId,jdbcType=INTEGER},
      </if>
      <if test="competitionName != null" >
        competition_name = #{competitionName,jdbcType=VARCHAR},
      </if>
      <if test="competitionImage != null" >
        competition_image = #{competitionImage,jdbcType=VARCHAR},
      </if>
      <if test="currentUnitPrice != null" >
        current_unit_price = #{currentUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="sponsorId != null" >
        sponsor_id = #{sponsorId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.programing.pojo.ApplicationItem" >
    update programing_application_item
    set application_no = #{applicationNo,jdbcType=BIGINT},
    competition_id = #{competitionId,jdbcType=INTEGER},
    competition_name = #{competitionName,jdbcType=VARCHAR},
    competition_image = #{competitionImage,jdbcType=VARCHAR},
    current_unit_price = #{currentUnitPrice,jdbcType=DECIMAL},
    quantity = #{quantity,jdbcType=INTEGER},
    total_price = #{totalPrice,jdbcType=DECIMAL},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    update_time = now(),
    user_id = #{userId,jdbcType=INTEGER}
    sponsor_id = #{sponsorId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="getByApplicationNoUserId" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from programing_application_item
    where application_no = #{applicationNo}
    and user_id = #{userId}
  </select>

  <select id="getByApplicationNo" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from programing_application_item
    where application_no = #{applicationNo}
  </select>


  <insert id="batchInsert" parameterType="list">
    insert into programing_application_item (id, application_no,user_id, sponsor_id, competition_id,
    competition_name, competition_image, current_unit_price,
    quantity, total_price, create_time,
    update_time)
    values
    <foreach collection="applicationItemList" index="index" item="item" separator=",">
      (
      #{item.id},#{item.applicationNo},#{item.userId},#{item.sponsorId},#{item.competitionId},#{item.competitionName},#{item.competitionImage},#{item.currentUnitPrice},#{item.quantity},#{item.totalPrice},now(),now()
      )
    </foreach>
  </insert>

  <select id="selectByCompetitionAndUserId" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from programing_application_item
    where competition_id = #{competitionId} and user_id = #{userId}
  </select>





















</mapper>