<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.programing.dao.CodeMapper" >
    <resultMap id="BaseCodeMap" type="com.programing.pojo.Code" >
        <constructor >
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="src" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List" >
        id, product_id, user_id, user_name, title, src,create_time, update_time
    </sql>

    <select id="selectByProductIdAndUserId" resultMap="BaseCodeMap" parameterType="map" >
        select
        <include refid="Base_Column_List" />
        from programing_code
        where user_id = #{userId,jdbcType=INTEGER} and product_id = #{productId,jdbcType=INTEGER}
    </select>

    <select id="selectListByProductId" resultMap="BaseCodeMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from programing_code
        where product_id = #{productId,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.programing.pojo.Code" >
        insert into programing_code (id, product_id, user_id, user_name, title, src,create_time, update_time)
        values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
        #{userName,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{src,jdbcType=VARCHAR},now(), now()
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.programing.pojo.Code" >
        update programing_code
        set product_id = #{productId,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=INTEGER},
        user_name = #{userName,jdbcType=VARCHAR},
        title = #{title,jdbcType=VARCHAR},
        src = #{src,jdbcType=VARCHAR},
        update_time = now()
        where id = #{id,jdbcType=INTEGER}
    </update>


</mapper>